<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>

  </head>
  <body>
    <main class="container">

      <% include ../static/partials/navbar.ejs %>

      <h1>Topics</h1>

      <% if (currentUser && currentUser.isAdmin()) { %>
        <a href="/topics/new" class="btn btn-primary">New Topic</a>
      <% } %>

      <div class="card-deck">
        <% topics.forEach((topic) => { %>
          <div class="card">
            <a href="/topics/<%= topic.id %>">
              <img src="" class="card-img-top" alt= <%= topic.title %> >
              <div class="Card-body">
                <h5 class="card-title"> <%=topic.title %> </h5>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
    
  </body>
</html>
